*{
    font-family: 'Lato', sans-serif;
    color:#495057;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    border-bottom:8px solid #0ca678;
    /* position: fixed; */
    /* bottom: 0; */
    /* width: 100%; */
}

a:link{
    text-decoration: none;
}

/* styling call to action */
.call-to-action{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50%;
    margin-right:30px ;
    gap: 20px;
}


.container{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    /* margin-right: 0; */
}

/* main header section */
.main-header{
    grid-column: 1/-1;
    padding: 32px 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom:60px;
}

nav a:link{
    margin-right: 40px;
    font-weight: 700;
    
}

nav a:link:last-child{
    margin-right: 0;
    background-color: #12b886;
    padding: 12px;
    border-radius: 100px;
    color: #f8f9fa;
}

nav a:link:last-child:hover{
    background-color: #0ca678;
}




/* main content section */

.main-content{
    grid-column: span 1;
    display: grid;
    align-content: center;
}

.main-content h2{
    font-size: 19px;
    letter-spacing: -1.1px;
    margin-bottom: 5px;
}

.main-content h1{
    font-weight: 900;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: 0.8;
    margin-bottom: 15px;
}

.main-content p {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -.9px;
    color: #868e96;
    margin-bottom: 40px;
}

.main-figure{
    grid-column: span 1;
    display: flex;
    /* height: 400px; */
    align-items: center;
    /* width: 400px; */
}



.main-link-section{
    display: flex;
    gap: 20px;
}

.main-link-section a:link,.main-link-section a:visited{
    color: #f8f9fa;
    background-color: #12b886;
    padding: 12px;
    border-radius: 100px;
    font-weight: 700;
   
    
}

.main-link-section a:hover,.main-link-section a:active{
   background-color: #0ca678;
}


/* styling about Section */

/* .about h2{
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: capitalize;
} */

.about{
    margin-top: 100px;
    grid-column:span 2;
    margin-bottom: 100px;
    
}

.about-section{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #0ca678;
    padding: 20px;
    border-radius: 3px;
}

.about-section img{
    border-radius: 3px;
}

.about h2{
    margin-bottom: 20px;
} 

.about p{
    color: #f8f9fa;
    line-height: 1.7;
    padding: 0px 20px
}

/* common h2 properties */
h2{
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: capitalize;
}


/* styling skills section */
.sec-header{
    margin-bottom:20px ;
}

.skills{
    grid-column: 1 /-1;
    /* width: 100%; */
    margin-bottom: 100px;
}

.skill-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    grid-column: 1/span all;
}

.skill-name  {
    letter-spacing: -1.4px;
    margin-bottom: 6px;

}

.skill-section p{
    letter-spacing: -0.2px;
    color: #868e96;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.img{
    padding: 20px;
    border-radius: 3px;
    /* border: 1px solid black; */
    box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.088);
}

.levels{
    width: 20px;
    stroke: #0ca678;
}

/* styling contact  */


.contact{
    grid-column: 1/-1;
    margin-bottom: 100px;
}
.contact-para{
    color: #868e96;
    font-size: 18px;
}

.contact-info{
    /* stroke: #0ca678; */
    fill: #0ca678;
    width: 50px;
}

.contact-logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.contact-logo .img{
    display: grid;
    justify-items: center;
    gap: 20px;
}


footer{
    grid-column: 1/-1;
    display: grid;
    justify-content: center;
    font-size: 15px;
    color: #868e96;
}

